<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.webclass.mapper.UserMapper">

    <insert id="insertUser">
        insert into
        user (name,passw) values (#{name},#{passw})
    </insert>

    <update id="updateUserstars">

    </update>

    <select id="findUserByNameAndPassword" resultType="org.example.webclass.model.User">
        SELECT id, name, passw
        FROM user
        WHERE name = #{name} AND passw = #{passw}
    </select>

    <select id="findUser" resultType="org.example.webclass.model.User">
        select id, name, passw from user where name = #{name}
    </select>

</mapper>